.big-area {
    float: left;
    width: 100px;
    margin: 0 10px 0 0;
    padding: 10px;
    background: #999;
}

.small-unit {
    float: left;
    width: 48px;
    height: 48px;
    color: #fff;
    background: #333;
    margin: 1px;
}
